# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.envrc

# secrets
.env
.env.*
!.env.example

# Testing & Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
*.cover
.hypothesis/

# Type checking & Linting
.mypy_cache/
.dmypy.json
dmypy.json

# OS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
*.egg

# Database
*.db
*.sqlite
*.sqlite3
